.App-logo {
	justify-content: center;
	height: 40vmin;
	pointer-events: none;
	margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.col {
	display: inline;
	min-height: 2rem;
	margin: auto;
	border: 0.2px solid white;
}

.col:hover {
	cursor: pointer;
}
.col:active {
	background-color: rgb(28, 103, 135);
	color: green;
}
.way {
	background-color: pink;
}

.block {
	background-color: gray;
}

.row {
	height: 2rem;
	width: 16rem;
	margin: auto;
}

.matrix {
	height: 70vh;
	width: 100vw;
	margin: auto;
}

.start {
	background-color: rgb(45, 236, 45);
}

.end {
	background-color: rgb(251, 251, 10);
}

.visited {
	background-color: #37ff00ba;
}
